@charset "UTF-8";

:root {
        --corfundo:#181818;
}
body {
        font-family: Arial, Helvetica, sans-serif;
        /* background-color: var(--corfundo); */
        
}

a:visited {
        color: rgb(238, 225, 250);
        text-decoration: underline;
}

a:hover {
        font-weight: bold;
        text-decoration: underline;
}
footer{
        background-color: #181818;
        height: 15vh;

}