@charset "UTF-8";

body {
        font-family: Arial, Helvetica, sans-serif;
}

h1 {
        text-align: center;
}

a {
        color: rgb(70, 100, 199);
        text-decoration: none;
}

a:visited {
        color: rgb(140, 69, 207);
        text-decoration: underline;
}

a:hover {
        font-weight: bold;
        text-decoration: underline;
}
.botao1 {
        background-color: rgb(237, 237, 247);
        border: 1px solid black;
        padding: 5px 10px;
        color: white;
        text-decoration: none;
        display:inline-flex;
        border-radius: 500px;
        justify-content: space-between;
        align-items: center;
        float: left;
      }
      
.botao2 {
        background-color: rgb(237, 237, 247);
        border: 1px solid black;
        padding: 5px 10px;
        color: white;
        text-decoration: none;
        display:inline-flex;
        border-radius: 500px;
        justify-content: space-between;
        align-items: center;
        float:center;
        
      }
      
      .botao3 {
        background-color: rgb(237, 237, 247);
        border: 1px solid black;
        padding: 5px 10px;
        color: white;
        text-decoration: none;
        display:inline-flex;
        border-radius: 500px;
        justify-content: space-between;
        align-items: center;
        float: right;
      }