@charset "UTF-8";

:root {
        --cor01: #ffffff9f;
        --cor02: #52ABE3;
        --cor03: #2989e2;
}
body {
        font-family: Arial, Helvetica, sans-serif;
        background-image: radial-gradient(circle, #2989e2, #0A2E5C,#1560C2,#114D9C,blue)
}
main {
        background-color: var(--cor01);
        width: auto;
        height: 100vh;
        border-radius: 30px;
        margin: 40px 10px;
}

h1 {
        text-align: center;
}

h2,h3,h4,p,img,a,ul,ol{
        margin-left: 70px;
}
a {
        color: rgb(70, 100, 199);
        text-decoration: none;
}

a:visited {
        color: rgb(140, 69, 207);
        text-decoration: underline;
}

a:hover {
        font-weight: bold;
        text-decoration: underline;
}
.botao1 {
        background-color: rgb(237, 237, 247);
        border: 1px solid black;
        padding: 5px 10px;
        color: white;
        text-decoration: none;
        display:inline-flex;
        border-radius: 500px;
        justify-content: space-between;
        align-items: center;
        float: left;
      }
      
.botao2 {
        background-color: rgb(237, 237, 247);
        border: 1px solid black;
        padding: 5px 10px;
        color: white;
        text-decoration: none;
        display:inline-flex;
        border-radius: 500px;
        justify-content: space-between;
        align-items: center;
        float:center;
        
      }
      
      .botao3 {
        background-color: rgb(237, 237, 247);
        border: 1px solid black;
        padding: 5px 10px;
        color: white;
        text-decoration: none;
        display:inline-flex;
        border-radius: 500px;
        justify-content: space-between;
        align-items: center;
        float: right;
      }