@charset "UTF-8";

body {
        font-family: Arial, Helvetica, sans-serif;
}

h1 {
        text-align: center;
}

a {
        color: rgb(70, 100, 199);
        text-decoration: none;
}

a:visited {
        color: rgb(140, 69, 207);
        text-decoration: underline;
}

a:hover {
        font-weight: bold;
        text-decoration: underline;
}
